<h5>Movie Detials</h5>

<ol>
<h2>{{movie.title}}</h2>
<li>{{movie.genre}}</li>
<li>{{movie.plot}}</li>
</ol>

<ul>
{{#each movie.cast}}
<h2>{{this.name}}</h2>
<li>{{this.occupation}}</li>
<li>{{this.catchPhrase}}</li>
{{/each}}
<form action="/movies/{{movie.id}}/delete" method="post">
   <button type="submit">Delete</button>
</form>
</ul>
<a href='/movies/'>Back to movies</a>
<br>
 <a href='/movies/{{movie.id}}/edit'>Edit</a> <br>

<br>
 